
#vodview2_container
{
    position:	absolute;
	float:		left;
	z-index:	4;
	-webkit-transform-origin: 	640px 385px;
	-webkit-transform-style: 	preserve-3d;
    -webkit-perspective:		1000;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-timing-function: linear, ease-in-out;
}

/***********
*
*  MASK MANAGEMENT
*
************/

#vod2_mask
{
    position:	absolute;
    top:		0px; 	/* 135px; */
    left:		716px; /*866px;*/ /*814px;*/ /*700px;*/ 	/* 482px; */
	width:		854px;
	height:		585px;
	float:		left;
	-webkit-transform-style: 	preserve-3d;
	-webkit-transition-property: -webkit-transform;
}
.vod2_moveupanim
{
    -webkit-transform:	rotate3d(1, 0, 0, 20deg);
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
.vod2_moveleftanim
{
    -webkit-transform:	rotate3d(0, 1, 0, 10deg);
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
.vod2_moverightanim
{
    -webkit-transform:	rotate3d(0, 1, 0, -10deg);
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
.vod2_movedownanim
{
    -webkit-transform:	rotate3d(1, 0, 0, -20deg);
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
.vod2_comebackanim
{
    -webkit-transform:	rotate3d(1, 0, 0, 0deg);
	-webkit-transition-duration: 1.5s;
	-webkit-transition-timing-function: ease-out;
}

#vod2_root
{
    position:	absolute;
    top:		287px;
    left:		0px;
	float:		left;

	-webkit-transform-style: 	preserve-3d;
	-webkit-transform:			translate3d(0px, 0px, 0px);

	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

/***********
*
*  ASSETS MANAGEMENT
*
************/

#vod2_videoitem
{
    position:	absolute;
    top:		0px;
    left:		0px;
    width:		124px;
    height:		185px;
	float:		left;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-timing-function: ease;
}
.vod2_videoitem_reset
{
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
	-webkit-transition-duration: 0.5s;
}
.vod2_videoitem_fastreset
{
	-webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
	-webkit-transition-duration: 0s;
}
.vod2_videoitem_focuson
{
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: translate3d(0px, 0px, 60px) scale3d(1.3, 1.3, 1.3);
	-webkit-transition-duration: 0.5s;
}
.vod2_videoitem_moverightanim
{
	-webkit-transform-origin: 100% 50%;
    -webkit-transform:	rotate3d(0, 1, 0, 0deg);
	-webkit-transition-duration: 0.5s;
}
.vod2_videoitem_moveleftanim
{
	-webkit-transform-origin: 100% 50%;
    -webkit-transform:	rotate3d(0, 1, 0, -90deg);
	-webkit-transition-duration: 0.5s;
}
.vod2_videoitem_fastmoveleft
{
	-webkit-transform-origin: 100% 50%;
    -webkit-transform:	rotate3d(0, 1, 0, -90deg);
	-webkit-transition-duration: 0.0s;
}

/***********
*
*  ASSET SHADOW MANAGEMENT
*
************/

#vod2_shadow
{
    position:	absolute;
    top:		0px;
    left:		0px;
    width:		124px;
    height:		185px;
	float:		left;
	background-image: url('../../data/images/static/shadow.png') ;
	background-size: 100% 100%;
	-webkit-transform-style: preserve-3d;    /*-webkit-transform:	translate3d(0px, 0px, 40px) scale3d(1.6, 1.6, 1.6);*/
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-timing-function: ease;
}
.vod2_shadow_focusanim
{
    -webkit-animation: shadow_focusanim 0.5s;
    -webkit-animation-fill-mode: forwards;
}
.vod2_shadow_focusanim2
{
    -webkit-animation: shadow_focusanim2 0.5s;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes shadow_focusanim {
    0% { -webkit-transform:   translate3d(0px, 0px, 10px) scale3d(1.1, 1.1, 1.1);    -webkit-animation-timing-function: ease-out;}
    100% { -webkit-transform: translate3d(0px, 0px, 40px) scale3d(1.8, 1.6, 1.9); -webkit-animation-timing-function: linear;}
}
@-webkit-keyframes shadow_focusanim2 {
    0% { -webkit-transform:   translate3d(0px, 0px, 10px) scale3d(1.1, 1.1, 1.1);    -webkit-animation-timing-function: ease-out;}
    100% { -webkit-transform: translate3d(0px, 0px, 40px) scale3d(1.8, 1.6, 1.9); -webkit-animation-timing-function: linear;}
}

/***********
*
*  SECTIONS TITLE MANAGEMENT
*
************/

#vod2_titles_root
{
    position:	absolute;
    top:		345px;
    left:		-250px;
	float:		left;

	-webkit-transform-style: 	preserve-3d;
	-webkit-transform:			translate3d(0px, 0px, 0px);

	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-timing-function: ease;
}
#vod2_title
{
    position:	absolute;
    top:		0px;
    left:		-250px;
    width:		200px;
    height:		25px;
	float:		left;
    font-size: 	40px;
    font-family:'Effra Regular';
    text-align: right;
	color:		white;
	-webkit-transform-style: preserve-3d;
}

/***********
*
*  WINDOW DETAIL MANAGEMENT
*
************/

#vod2_details
{
    position:	absolute;
    top:		245px;
    left:		-30px;
    width:		600px;
    height:		280px;
	margin-top:	-47px;
	margin-left:-30px;
	float:		left;
	background-image: url('../../data/images/static/details.png') ;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position:center;
	-webkit-transform-style: preserve-3d;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-timing-function: ease;
}
.vod2_details_open
{
	-webkit-transform:		 translate3d(0px, 0px, 10px);
	opacity:	1;
}
.vod2_details_close
{
	-webkit-transform:		 translate3d(600px, 0px, 10px);
	opacity:	0;
}
#vod2_details_label {
    position: 	absolute;
    top:		100px;
    left: 		200px;
    width:		640px;
    font-size: 	36px;
    font-family:'Effra Regular';
    text-align: left;
	white-space:nowrap;
	color:		white;
	opacity:	inherit;
    float: 		left;
}
#vod2_details_label2 {
    position: 	absolute;
    top:		160px;
    left: 		210px;
    width:		400px;
    font-size: 	22px;
    font-family:'Effra Light';
    text-align: left;
	color:		white;
	opacity:	inherit;
    float: 		left;
}

/***********
*
*  DIVERS
*
************/

#vod2_icon {
    position: 	absolute;
    top:		273px;
    left: 		-9px;
    width:		307px;
    height:		198px;
	background-image: url('../../res/images/icon-on-demand.png') ;
}


.view2_zoomin {
    -webkit-transform: scale3d(4, 4, 1);
    -webkit-transition-duration: 1s;
    opacity: 0;
}

.view2_zoomout {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    -webkit-transition-duration: 1s;
    opacity: 0;
}

.view2_enter {
    -webkit-transform: scale3d(1, 1, 1);
    -webkit-transition-duration: 1s;
    opacity: 1;
}