#sipnumber {
	position: absolute;
	left: 16px;
	top: 140px;
}

#phonoButton {
	position: absolute;
	left: 16px;
	top: 180px;
}

#status {
	border: solid 1px blue;
	padding: 4px;
	position: absolute;
	left: 16px;
	top: 127px;
	background-color: rgb(202, 202, 252);
	color: blue;
}
			